<div class="container">
  <a routerLink="/login" href="/login" routerLinkActive="active" class="btn btn-outline-danger">Voltar</a>
  <h2>Inscreva-se</h2>
  <span *ngIf="error" [@fallIn]='state'>{{ error }}</span>
  <form #f="ngForm" (submit)="onSubmit(f)">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" autofocus required ngModel>
    </div>
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Email" autofocus required ngModel>
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <input type="password" class="form-control" id="senha" minlength="6" name="senha" placeholder="Senha" required ngModel>
      <small id="ajudaSenha" class="form-text text-muted">A senha deve conter no mínimo 6 digitos</small>
    </div>
    <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Cadastrar</button>
  </form>
</div>
